.logo {max-width: 120px; max-height: 120px !important;}
.left_label {
    width: 12em !important;
    height: 2em !important;
    background: #fff !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 10px !important ;
    border: 3px solid #BADA55 !important;
    font-size: 150% !important;
}
.left_label_selected {
    width: 12em !important;
    height: 2em !important;
    background: #9d9 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 10px !important ;
    border: 3px solid #BADA55 !important;
    font-size: 150% !important;
}
.sitetitle {
    width: 25em !important;
    font-size: 200% !important; 
    font-family: Monaco !important;
    text-align: center !important;
  
}
.subtitle {
    font-weight: bold !important; 
    font-size: large !important;
}
.col_0 {
    padding-left: 1em !important;
    padding-right: 0.5em !important;
    text-align: end !important;
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
}
.col_1 {
    width: 20em !important;
}

.footer {
    max-height: 100px !important;
}
